<%- include ./common/header.ejs  %>
<h1>饰品库</h1>
<div id="add">
    <form action="http://localhost:4000/add" method="post" enctype="multipart/form-data">

        <div>名称：<input type="text" name="name" id="name"></div>
        <div>价格：<input type="number" name="price" id="price"></div>
        <div>描述：<textarea name="description" cols="30" rows="4"></textarea></div>
        <div>上架皮肤：<input type="file" name="pic" id="pic"></br></div>

        <div><button type="submit">上架</button><a href="/add/list">首页>></a></div>

    </form>
</div>
<%- include ./common/footer.ejs %>