<%- include ./common/header.ejs %>
<h1>CSGO饰品交易网</h1>>
<div id="login">
        <form action="http://localhost:4000/login" method="POST">
                账户：<input type="text" name="username" id="username" placeholder=""/></br>
                密码：<input type="password" name="password" id="password" /></br>
                <button type="submit">登录</button>
        </form>
        <a href="/register">注册>></a>
</div>
<%- include ./common/footer.ejs %>