
h1{
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 43px;
    text-shadow: 5px 5px 5px #888888;

}
#login{
    margin: 0 auto;
    margin-top: 90px;
    width: 450px;
    height: 250px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    color: white;
}
#login form{
    margin: 0 auto;
    padding-top: 15px;
    width: 330px;
    height: 200px;
    /*background-color: lightblue;*/
}
#login input{
    width: 260px;
    height: 30px;
    margin-top: 35px;
    border-radius: 5px;
   
}
#login button{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;    
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.0);
    transition: 0.3s;
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    
}
#login button:hover{
    display: block;
    transform: scale(1.1);
    transition: 0.3s;
    margin: 0 auto;
    margin-top: 30px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;    
    border-radius: 5px;
    color: white;
    background-color: Orange;
    cursor: pointer;
    
}
#login a{
    display: block;
    text-decoration: none;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}
#login a:hover{
    display: block;
    text-decoration: none;
    margin-right: 10px;
    float: right;
    color: Orange;
    cursor: pointer;
}